@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can define more classes outside of @layer if needed */

@layer components {
}
/* Outside of any @layer directive */
.input-style {
  @apply rounded border px-5 py-2 my-2;
}

.input-btn {
  @apply py-2 text-xl font-medium px-1 rounded text-white my-2;
}
.input-style {
  @apply rounded border px-5 py-2 my-2;
}
.form_google_btn {
  @apply flex items-center justify-center w-full border-2 rounded-md py-1;
}

/* .bgColor {
background-color: #f3f3f3;

} */

body {
  margin: 0px;
  padding: 0px;
}

/* #ffb30d */

/* "pk_test_51Nw5FVSF3tLIpWGRPJfEjicRMYQ5azV47z4rELmfa60eWwUwGooGsQSg7QXT3ftQPu9BYAzPrmIw6ZbWUDy1SxQB00vpCGmady" */
